{{!--
    Citation for the following View:
    Date retrieved: 2/23/2023, 3/17/2023
    Adapted from OSU NodeJS Starter App, Stack Overflow
    Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
    https://stackoverflow.com/questions/32260117/handlebars-date-format-issue (used to format dates)
--}}

<header>
    <h1>Daily Pollution in Each Location</h1>
</header>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="./js/delete_location_pollution.js"></script>

{{!-- Nav bar for links to all pages on the site --}}
<nav>
    <a href="/">Home</a>
    <a href="/locations">Locations</a>
    <a href="/people">People</a>
    <a href="/healthProblems">Health Problems</a>
    <a href="/individualHealthIssues">Individual Health Issues</a>
    <a href="/cityHealthIssues">Health Issues By City</a>
    <a href="/pollutionLevelsByDay">Dates with Pollution Data</a>
    <a href="/dailyLocationPollution">Daily Pollution in Each Location</a>
</nav>

{{!-- Daily Pollution by Location --}}
<div id="browse">
    <h3>Browse Pollution Data by City or Date</h3>

    <table id="location-pollution-table">
        <thead>

            <tr>
                <th>Daily Log ID</th>
                <th>City</th>
                <th>Date Recorded</th>
                <th>Particulate Level</th>
                <th>NO2 Level</th>
                <th>PAH Level</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>

            {{#each data}}
            <tr data-value="{{this.log_date}}">
                <td>{{this.log_date}}</td>
                <td>{{this.location_ID}}</td>
                <td>{{moment this.pollution_ID format = "MMMM DD, YYYY (dddd)"}}</td>
                <td>{{this.particulate_level}}</td>
                <td>{{this.NO2_level}}</td>
                <td>{{this.PAH_level}}</td>
                <td><button onclick="deleteDailyLocPoll({{this.log_date}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div>
    <ol>
        <p><strong>Use the following forms to:</strong></p>
        <li>View pollution levels by city or by date</li>
        <li>Add pollution data</li>
        <li>Update pollutant levels for all cities on a specific date</li>
    </ol>
</div>

<!-- View historical pollution levels by location -->
<div id="browse">
    <form id="browsePollutionByCity" method="GET" action="/browseDailyLocationPollution">
        <legend><strong>Browse Pollution Levels by City Name</strong></legend>
        <fieldset class="fields">
            <label for="city-input-pollution"> Search a City: </label>
            <select name="city-input-pollution" id="city-input-pollution">
                <option value="0">Select</option>
                {{#each locations}}
                <option value="{{this.location_ID}}">{{this.city_name}}</option>
                {{/each}}               
            </select>            
        </fieldset>
        <input class="btn" type="submit" id="browsePollutionByCity" value="View Levels by City">
        <a href="/dailyLocationPollution"><button>Reset</button></a>
    </form>
</div>

<!-- View all pollution levels in every location for a specific date -->
<div id="browse">
    <form id="browsePollutionByDate" method="GET" action="/browseDailyPollution">
        <legend><strong>Browse Pollution Levels by Date</strong></legend>
        <fieldset class="fields">
            <label for="date-input-pollution"> Search a Date: </label>
            <select name="date-input-pollution" id="date-input-pollution">
                <option value="0">Select</option>
                {{#each dates}}
                <option value="{{this.pollution_ID}}">{{this.date_recorded}}</option>
                {{/each}}               
            </select>
        </fieldset>
        <input class="btn" type="submit" id="browsePollutionByDate" value="View Levels by Date">
        <a href="/dailyLocationPollution"><button>Reset</button></a>
    </form>
</div>

<!-- Add pollution levels for specific city on specific date -->
<div id="insert">
    <form id="addPollutionLevels" method="POST" action="/addPollutionLevels">
        <legend><strong>Add Pollution Levels</strong></legend>
        <fieldset class="fields">
            <label for="city"> Select a City: </label>
            <select name="input-location_ID" id="input-location_ID" required="required">
                <option value="select">Select a City</option>
                {{#each locations}}
                <option value="{{this.location_ID}}">{{this.city_name}}</option>
                {{/each}}
            </select>
            <label for="date"> Select a Date: </label>
            <select name="input-date" id="input-date" required="required">
                <option value="select">Select a Date</option>
                {{#each dates}}
                <option value="{{this.pollution_ID}}">{{this.date_recorded}}</option>
                {{/each}}
            </select>
            <label> Particulate Level </label> <input type="number" name="input-particulate" id="input-particulate">
            <label> NO2 Level </label> <input type="number" name="input-NO2" id="input-NO2">
            <label> PAH Level </label> <input type="number" name="input-PAH" if="input-PAH">
        </fieldset>
        <input class="btn" type="submit" id="addPollutionLevel" value="Add Pollution Levels">
    </form>
</div>

<!-- Update pollution levels for specific city on specific date -->
<div id="update">
    <form id="update-location-pollution-form-ajax">
        <legend><strong>Update Pollution Levels</strong></legend>
        <fieldset class="fields">
            <label for="log_date-update"> Select a Log Date to Edit: </label>
            <select name="log-date-update" id="log-date-update">
                <option value="select">Select</option>
                {{#each data}}
                <option value="{{this.log_date}}">{{this.log_date}}</option>
                {{/each}}
            </select>
            </select>
            <label> Particulate Level </label> <input type="number" name="particulate_update" id="particulate_update">
            <label> NO2 Level </label> <input type="number" name="NO2_update" id="NO2_update">
            <label> PAH Level </label> <input type="number" name="PAH_update" id="PAH_update">
        </fieldset>
        <input class="btn" type="submit" id="UpdatePollutionLevel" value="Update Pollution Levels">
        <script src="./js/update_daily_location_pollution.js"></script>
    </form>
</div>