<header>
    <h1>Health Problems</h1>
</header>

{{!-- Nav bar for links to all pages on the site --}}
<nav>
    <a href="/">Home</a>
    <a href="/locations">Locations</a>
    <a href="/people">People</a>
    <a href="/healthProblems">Health Problems</a>
    <a href="/individualHealthIssues">Individual Health Issues</a>
    <a href="/cityHealthIssues">Health Issues By City</a>
    <a href="/pollutionLevelsByDay">Dates with Pollution Data</a>
    <a href="/dailyLocationPollution">Daily Pollution in Each Location</a>
</nav>

{{!-- Health Problems Display Table --}}
<div id="browse">
    <h3>Browse Health Problems</h3>
    <table>
        <thead>

            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>

        <tbody>

            {{#each data}}
            <tr>
                <td>{{this.problem_ID}}</td>
                <td>{{this.problem_name}}</td>
                <td>{{this.problem_characteristics}}</td>
                <td>{{this.is_terminal}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div>
    <ol>
        <p><strong>Use the following forms to:</strong></p>
        <li>Add a health problem</li>
        <li>Update an existing health problem's characteristics or terminality</li>
    </ol>
</div>

<!-- Add new health problem -->
<div id="insert">
    <form id="addHealthProblem">
        <legend><strong>Add Health Problem</strong></legend>
        <fieldset class="fields">
            <label> Health Issue </label> <input type="text" name="health issue">
            <label> Health Issue Characteristics </label> <input type="text" name="health issue Characteristics">
            <label for="terminal"> is Terminal? </label>
            <select name="terminal" id="terminal">
                <option value="select">Select Yes/No</option>
                <option value="0">Yes</option>
                <option value="1">No</option>
            </select>
        </fieldset>
        <input class="btn" type="submit" id="addHealthProblem" value="Add Health Problem">
    </form>
</div>

<!-- Update health problem attributes -->
<div id="update">
    <form id="updateHealthProblem">
        <legend><strong>Update Health Problem</strong></legend>
        <fieldset class="fields">
            <label for="health problem"> Select a Health Problem: </label>
            <select name="health problem" id="health problem">
                <option value="select">Select</option>
                <!-- dynamically generated drop down -->
            </select>
            <label> Health Issue Characteristics </label> <input type="text" name="health issue characteristics">
            <label for="terminal"> is Terminal? </label>
            <select name="terminal" id="terminal">
                <option value="select">Select Yes/No</option>
                <option value="0">Yes</option>
                <option value="1">No</option>
            </select>
        </fieldset>
        <input class="btn" type="submit" id="updateHealthProblem" value="Update Health Problem">
    </form>
</div>