{{!--
    Citation for the following View:
    Date retrieved: 2/23/2023
    Adapted from OSU NodeJS Starter App
    Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
--}}

<header>
    <h1>Health Problems</h1>
</header>

{{!-- Nav bar for links to all pages on the site --}}
<nav>
    <a href="/">Home</a>
    <a href="/locations">Locations</a>
    <a href="/people">People</a>
    <a href="/healthProblems">Health Problems</a>
    <a href="/individualHealthIssues">Individual Health Issues</a>
    <a href="/cityHealthIssues">Health Issues By City</a>
    <a href="/pollutionLevelsByDay">Dates with Pollution Data</a>
    <a href="/dailyLocationPollution">Daily Pollution in Each Location</a>
</nav>

{{!-- Health Problems Display Table --}}
<div id="browse">
    <h3>Browse Health Problems</h3>
    <table id="health-problems-table">
        <thead>

            <tr>
                <th>Problem ID</th>
                <th>Health Problem</th>
                <th>Characteristics</th>
                <th>Terminal?</th>
            </tr>
        </thead>

        <tbody>

            {{#each data}}
            <tr data-value={{this.problem_ID}}>
                <td>{{this.problem_ID}}</td>
                <td>{{this.problem_name}}</td>
                <td>{{this.problem_characteristics}}</td>
                <td>{{this.is_terminal}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div>
    <ol>
        <p><strong>Use the following forms to:</strong></p>
        <li>Add a health problem</li>
        <li>Update an existing health problem's characteristics or terminality</li>
    </ol>
</div>

<!-- Add new health problem -->
<div id="insert">
    <form id="addHealthProblem" method="POST" action="/addHealthProblem">
        <legend><strong>Add Health Problem</strong></legend>
        <fieldset class="fields">
            <label> Health Issue </label> <input type="text" pattern="[a-zA-Z]*" oninvalid="setCustomValidity('Please enter alphabetical letters.')" oninput="setCustomValidity('')" name="health-issue-input" id="health-issue-input" required="required">
            <label> Health Issue Characteristics </label> <input type="text" pattern="[a-zA-Z]*" oninvalid="setCustomValidity('Please enter alphabetical letters.')" oninput="setCustomValidity('')" name="characteristics-input" id="characteristics-input" required="required">
            <label for="terminal-input"> is Terminal? </label>
            <select name="terminal-input" id="terminal-input" required="required">
                <option value="select">Select No/Yes or NULL</option>
                <option value='0'>No</option>
                <option value='1'>Yes</option>
                <option value=NULL>NULL - unknown</option>
            </select>
        </fieldset>
        <input class="btn" type="submit" id="addHealthProblem" value="Add Health Problem">
    </form>
</div>

<!-- Update health problem attributes -->
<div id="update">
    <form id="update-health-problem-form-ajax">
        <legend><strong>Update Health Problem</strong></legend>
        <fieldset class="fields">
            <label for="health-problem-input"> Select a Health Problem: </label>
            <select name="health-problem-input" id="health-problem-input" required="required">
                <option value="select">Select</option>
                {{#each data}}
                <option value="{{this.problem_ID}}">{{this.problem_name}}</option>
                {{/each}}                
            </select>
            <label> Health Issue Characteristics </label> <input type="text" name="health issue characteristics" id = "characteristics-input2">
            <label for="terminal"> is Terminal? </label>
            <select name="terminal" id="terminal" required="required">
                <option value="select">Select No/Yes</option>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select>
        </fieldset>
        <input class="btn" type="submit" id="updateHealthProblem" value="Update Health Problem">
        <script src="./js/update_health_problem.js"></script>
    </form>
</div>