<header>
    <h1>Individual Health Issues</h1>
</header>

{{!-- Nav bar for links to all pages on the site --}}
<nav>
    <a href="/">Home</a>
    <a href="/locations">Locations</a>
    <a href="/people">People</a>
    <a href="/healthProblems">Health Problems</a>
    <a href="/individualHealthIssues">Individual Health Issues</a>
    <a href="/cityHealthIssues">Health Issues By City</a>
    <a href="/pollutionLevelsByDay">Dates with Pollution Data</a>
    <a href="/dailyLocationPollution">Daily Pollution in Each Location</a>
</nav>

{{!-- Individual Health Issues Display Table --}}
<div id="browse">
    <h3>Browse Individual Health Issues</h3>
    <table id = "individual-health-issues-table">
        <thead>

            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>

        <tbody>

            {{#each data}}
            <tr>
                <td>{{this.person_health_ID}}</td>
                <td>{{this.person_ID}}</td>
                <td>{{this.problem_ID}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div>
    <ol>
        <p><strong>Use the following forms to:</strong></p>
        <li>View health problems associated with a specific person</li>
        <li>Associate a person with a new health problem</li>
    </ol>
</div>

<!-- See all health issues associated with specific person -->
<div id="browse">
    <form id="browseIndividualHealthIssue" method = 'GET' action = '/browseIndividualHealthIssue'>
        <legend><strong>Browse Health Issues by Person</strong></legend>
        <fieldset class="fields">
            <label for="indiv-input"> Select the Personal ID: </label>
            <select name="indiv-input" id="indiv-input">
                <option value="select">Select</option>
                <!-- dynamically generated drop down -->
                {{#each people}}
                <option value="{{this.person_ID}}">{{this.person_ID}}</option>
                {{/each}}
            </select>
        </fieldset>
        <input class="btn" type="submit" id="browseIndividualHealthIssue" value="View All">
    </form>
</div>

<!-- Associate a new health problem with a specific person -->
<div id="insert">
    <form id="addIndividualHealthIssue" method="POST" action="/addIndividualHealthIssue">
        <legend><strong>Associate Individuals with a Health Issue</strong></legend>
        <fieldset class="fields">
            <label for="person"> Select the Personal ID: </label>
            <select name="person-input" id="person-input" required="required">
                <option value="">Select</option>
                <!-- dynamically generated drop down -->
                {{#each people}}
                <option value="{{this.person_ID}}">{{this.person_ID}}</option>
                {{/each}}
            </select>
            <label for="health-problem"> Select a Health Problem: </label>
            <select name="health-problem-input" id="health-problem-input" required="required">
                <option value="">Select</option>
                <!-- dynamically generated drop down -->
                {{#each problems}}
                <option value="{{this.problem_ID}}">{{this.problem_name}}</option>
                {{/each}}
            </select>
        </fieldset>
        <input class="btn" type="submit" id="addIndividualHealthIssue" value="Add Health Issue">
    </form>
</div>