<html>
<header>
    <h1>Locations</h1>
</header>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type = "text/javascript" src="./js/delete_location.js"></script>
</head>

{{!-- Nav bar for links to all pages on the site --}}
<nav>
    <a href="/">Home</a>
    <a href="/locations">Locations</a>
    <a href="/people">People</a>
    <a href="/healthProblems">Health Problems</a>
    <a href="/individualHealthIssues">Individual Health Issues</a>
    <a href="/cityHealthIssues">Health Issues By City</a>
    <a href="/pollutionLevelsByDay">Dates with Pollution Data</a>
    <a href="/dailyLocationPollution">Daily Pollution in Each Location</a>
</nav>

{{!-- Locations Display Table --}}
<div id="browse">
    <h3>Browse Locations</h3>

    <table id="location-table">
        <thead>
            <tr>
                <th>Location ID</th>
                <th>City Name</th>
                <th>State Name</th>
                <th>Population</th>
                <th>Delete</th>
            </tr>
        </thead>
    
        <tbody>
    
            {{#each data}}
            <tr data-value={{this.location_ID}}>
                <td>{{this.location_ID}}</td>
                <td>{{this.city_name}}</td>
                <td>{{this.state_name}}</td>
                <td>{{this.total_population}}</td>
                <td><button onclick="deleteLocation({{this.location_ID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div>
    <ol>
        <p><strong>Use the following forms to:</strong></p>
        <li>Add a city</li>
        <li>Update the population of an existing city</li>
    </ol>
</div>

{{!-- Add new location --}}
<div id="insert">
    <form id="addLocation" method="POST" action="/addLocation">
        <legend><strong>Add Location</strong></legend>
        <fieldset class="fields">
            <label> City Name </label> <input type="text" name="input-city" id="input-city" required="required">
            <label> State Name </label> <input type="text" name="input-state" id="input-state" required="required">
            <label> Population </label> <input type="number" name="input-population" id="input-population" required="required">
        </fieldset>
        <input class="btn" type="submit" id="addLocation" value="Add Location">
    </form>
</div>

{{!-- Update location attributes --}}
<div id="update">
    <form id="update-location-form-ajax">
        <legend><strong>Update Location</strong></legend>
        <fieldset class="fields">
            <label for="input-location_ID"> Select a City: </label>
            <select name="input-location_ID" id="input-location_ID" required="required">
                <option value="select">Select a City</option>
                {{#each locations}}
                <option value="{{this.location_ID}}">{{this.city_name}}</option>
                {{/each}}
            </select>
            <label> Total Population </label> <input type="number" name="population-update" id="population-update" required="required">
        </fieldset>
        <input class="btn" type="submit" id="UpdateLocation" value="Update Location">
    </form>
    <script src="./js/update_location.js"></script>
</div>
</html>