<html>
<header>
    <h1>Locations</h1>
</header>

{{!-- Nav bar for links to all pages on the site --}}
<nav>
    <a href="/">Home</a>
    <a href="/locations">Locations</a>
    <a href="/people">People</a>
    <a href="/health-problems">Health Problems</a>
    <a href="/individual-health-issues">Individual Health Issues</a>
    <a href="/city-health-issues">Health Issues By City</a>
    <a href="/pollution-by-day">Dates with Pollution Data</a>
    <a href="/daily-location-pollution">Daily Pollution in Each Location</a>
</nav>

{{!-- Locations Display Table --}}
<div id="browse">
    <h3>Browse Locations</h3>

    <table id="location-table">
        <thead>
    
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
    
        <tbody>
    
            {{#each data}}
            <tr>
                <td>{{this.location_ID}}</td>
                <td>{{this.city_name}}</td>
                <td>{{this.state_name}}</td>
                <td>{{this.total_population}}</td>
                <td><button onclick="deleteLocation({{this.location_ID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="./js/delete_location.js"></script>
</div>

{{!-- Add new location --}}
<div id="insert">
    <form id="add-location-ajax">
        <legend><strong>Add Location</strong></legend>
        <fieldset class="fields">
            <label> City Name </label> <input type="text" name="input-city" id="input-city" required="required">
            <label> State Name </label> <input type="text" name="input-state" id="input-state" required="required">
            <label> Population </label> <input type="number" name="input-population" id="input-population" required="required">
        </fieldset>
        <input class="btn" type="submit" id="addLocation" value="Add Location">
    </form>
    <script src="./js/add_location.js"></script>
</div>

{{!-- Update location attributes --}}
<div id="update">
    <form id="update-location-form-ajax">
        <legend><strong>Update Location</strong></legend>
        <fieldset class="fields">
            <label for="input-location_ID"> Select a City: </label>
            <select name="input-location_ID" id="input-location_ID" required="required">
                <option value="select">Select a City</option>
                {{#each locations}}
                <option value="{{this.location_ID}}">{{this.city_name}}</option>
                {{/each}}
            </select>
            <label> Total Population </label> <input type="number" name="input-population" id="input-population" required="required">
        </fieldset>
        <input class="btn" type="submit" id="UpdateLocation" value="Update Location">
    </form>
    <script src="./js/update_location.js"></script>
</div>
</html>