{{!--
    Citation for the following View:
    Date retrieved: 2/23/2023
    Adapted from OSU NodeJS Starter App
    Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app (used for CRUD)
--}}

<html>
<header>
    <h1>People</h1>
</header>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type = "text/javascript" src="./js/delete_person.js"></script>
</head>
<body>
    
{{!-- Nav bar for links to all pages on the site --}}
<nav>
    <a href="/">Home</a>
    <a href="/locations">Locations</a>
    <a href="/people">People</a>
    <a href="/healthProblems">Health Problems</a>
    <a href="/individualHealthIssues">Individual Health Issues</a>
    <a href="/cityHealthIssues">Health Issues By City</a>
    <a href="/pollutionLevelsByDay">Dates with Pollution Data</a>
    <a href="/dailyLocationPollution">Daily Pollution in Each Location</a>
</nav>

{{!-- People Display Table --}}
<div id="browse">
    <h3>Browse People</h3>
    <table id="people-table">
        <thead>
    
            <tr>
                <th>Person ID</th>
                <th>Age</th>
                <th>City</th>
                <th>Delete</th>
            </tr>
        </thead>
    
        <tbody>

            {{#each data}}
            <tr data-value={{this.person_ID}}>
                <td>{{this.person_ID}}</td>
                <td>{{this.age}}</td>
                <td>{{this.location_ID}}</td>
                <td><button onclick="deletePerson({{this.person_ID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div>
    <ol>
        <p><strong>Use the following forms to:</strong></p>
        <li>Add a person</li>
        <li>Update an existing person's age and/or location</li>
    </ol>
</div>

{{!-- Add new person --}}
<div id="insert">
    <form id="addPerson" method="POST" action="/addPerson">
        <legend><strong>Add Person</strong></legend>
        <fieldset class="fields">
            <label> Age </label> <input type="number" name="input-age" id="input-age" required="required">
            <label for="input-location_ID"> Select a City: </label>
            <select name="input-location_ID" id="input-location_ID" required="required">
                <option value="">Select a City</option>
                {{#each locations}}
                <option value="{{this.location_ID}}">{{this.city_name}}</option>
                {{/each}}
            </select>
        </fieldset>
        <input class="btn" type="submit" id="addPerson" value="Add Person">
    </form>
</div>

{{!-- Update person attributes --}}
<div id="update">
    <form id="update-person-form-ajax">
        <legend><strong>Update Person</strong></legend>
        <fieldset class="fields">
            <label for="input-person_ID"> Select a Person: </label>
            <select name="input-person_ID" id="input-person_ID" required="required">
                <option value="">Select the Person's ID</option>
                {{#each data}}
                <option value="{{this.person_ID}}">{{this.person_ID}}</option>
                {{/each}}
            </select>
            <label> Age </label> <input type="number" name="age-update" id="age-update" required="required">
            <label for="location-update"> Select a City: </label>
            <select name="location-update" id="location-update" required="required">
                <option value="select">Select a City</option>
                {{#each locations}}
                <option value="{{this.location_ID}}">{{this.city_name}}</option>
                {{/each}}
            </select>
        </fieldset>
        <input class="btn" type="submit" id="updatePerson" value="Update Person">
    </form>
    <script src="./js/update_person.js"></script>
</div>
</body>
</html>
